div.itemNav{
    color: #ffffff;
    font-weight: bold;
    background-color: #b6b6d3;
    box-shadow:
            2px 0 10px 0 rgba(0, 0, 0, 0.12),
            2px 0 10px 0 rgba(0, 0, 0, 0.09);
}
div.itemNav a {
    font-weight: bold;
    font-size: 1.3em;
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    padding-bottom: 15px;
    color: #ffffff;
}

/*div.itemNav a:hover{*/
/*    background: linear-gradient(135deg, #07a7e3 0%, #32eac3 100% );*/
/*}*/